@model List<CursosModel>
@{
    Layout = null;
}

<html>
<head>
    <title>@ViewData["Title"] - centro de formacion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/centro.styles.css" asp-append-version="true" />
</head>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Cursos" asp-action="Listacursos">centro de formacion</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Cerrarsesion">Cerrar sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>
    <div class="card">
        <div class="card-header">
            <h5>Lista de cursos</h5>
        </div>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
        }

        @if (Model.Count == 0)
        {
            <div class="alert alert-info">No se encontraron cursos.</div>
        }
        else
        {
            <table class="table table-bordered" id="tb_cursos">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Temario</th>
                        <th class="no-filter"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.nombre</td>
                            <td>@item.descripcion</td>
                            <td>@item.temario</td>
                            <td>
                                <a asp-action="Agregar" asp-controller="Cursos" class="btn btn-primary btn-sn" asp-route-id_curso="@item.id_curso">Unirse</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</body>
</html>
