@model List<AlumnosModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Estilos{
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/fixedheader/3.2.3/css/fixedHeader.dataTables.min.css" rel="stylesheet" />

    <style>
        thead input {
            width: 100%;
        }
    </style>
}

<div class="card">
    <div class="card-header">
        <h5>Lista de Alumnos</h5>
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Alumnos" class="btn btn-success">Crear nuevo</a>
        <hr />

        <table class="table table-bordered" id="tb_alumnos">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Usuario</th>
                    <th>Cursos</th>
                    <th class="no-filter"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.nombre</td>
                        <td>@item.correo</td>
                        <td>@item.usuario</td>
                        <td>@item.tipo</td>
                        <td>
                            <a asp-action="Editar" asp-controller="Alumnos" class="btn btn-primary btn-sn" asp-route-id_alumno="@item.id_alumno">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Alumnos" class="btn btn-danger btn-sn" asp-route-id_alumno="@item.id_alumno">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src ="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>

            
        
    <script>
        $(document).ready(function () {

            $('#tb_alumnos thead tr')
                .clone(true)
                .addClass('filters')
                .appendTo('#tb_alumnos thead');

            $('#tb_alumnos').DataTable({
            "language":{
                url: "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
            },
            dom:"Bfrtip",
            buttons:[
                {
                    extend: "excelHtml5",
                    text: "Reporte",
                    filename: "Reporte de alumnos",
                    title:" ",
                    exportOptions:{
                        columns:[0,1,2,3]
                    }
                }
                ], orderCellsTop: true,
                fixedHeader: true,
                initComplete: function () {
                    var api = this.api();

                    // For each column
                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx) {
                            // Set the header cell to contain the input element
                             if (!$(api.column(colIdx).header()).hasClass('no-filter')) {
                            var cell = $('.filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );
                            var title = $(cell).text();
                            $(cell).html('<input type="text" placeholder="buscar" />');
                            }
                            // On every keypress in this input
                            $(
                                'input',
                                $('.filters th').eq($(api.column(colIdx).header()).index())
                            )
                                .off('keyup change')
                                .on('change', function (e) {
                                    // Get the search value
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                    var cursorPosition = this.selectionStart;
                                    // Search the column for that value
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', '(((' + this.value + ')))')
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();
                                })
                                .on('keyup', function (e) {
                                    e.stopPropagation();

                                    $(this).trigger('change');
                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });
                },
            });
        });
    </script>
}